.highlight-text {
  background: linear-gradient(90deg, rgba(41, 41, 41, 0.88) 50%, rgba(48, 48, 52, 1) 50%);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 100%;
  background-position-x: 0%;
  -webkit-text-fill-color: transparent;
  transition-property: background-position;
  transition-duration: 2.3s;
  transition-delay: 0;
  transition-timing-function: cubic-bezier(0.06, 0.56, 0.24, 0.96);
}

.highlight-text.highlighted {
  background-position-x: -100%;
}

.highlight-text::selection {
  -webkit-text-fill-color: initial;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  .highlight-text {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.88) 50%, rgba(255, 255, 255, 1) 50%);
  }
}

