.highlight-text {
  background: linear-gradient(90deg, rgba(41, 41, 41, 0.3) 50%, rgba(41, 41, 41, 0.88) 50%);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 100%;
  background-position-x: 0%;
  -webkit-text-fill-color: transparent;
  transition: background-position-x 1.5s cubic-bezier(0.06, 0.56, 0.24, 0.96) 0s;
  color: rgba(41, 41, 41, 0.88);
  display: inline-block;
}

.highlight-text.highlighted {
  background-position-x: -100%;
}

.highlight-text-fast {
  transition: background-position-x 1.2s cubic-bezier(0.06, 0.56, 0.24, 0.96) 0s !important;
}

.highlight-text-fast.highlight-text {
  transition: background-position-x 1.2s cubic-bezier(0.06, 0.56, 0.24, 0.96) 0s !important;
}

.highlight-text::selection {
  -webkit-text-fill-color: initial;
  background-color: rgba(41, 41, 41, 0.2);
}

